@font-face {
    font-family: bright rose;   
    src: url(./font/Bright\ Rose.otf);
}
body {
    background-color: black;
}
  /* Header */  
.header { 
	background-color: white;	
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.header > h1 {
    padding-top: 5px;
    color: black;
    font-family: bright rose;
      
}
.header > h2 {
    color: black;
    letter-spacing: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.navbar-nav > li {
    padding-left: 5px;
}
@media (max-width:460px) {
    .header {
        text-align: center;
    }
    
    .navbar-nav > li {
        padding-bottom: 5px;
    }
    img {
        width: 300px;
        height: 250px;
    }

}
.name {
    font-family: instory;
}

/*Header*/

